body{
    font-family:'Segoe UI';
}
table{
    background-color:lightgreen;
    border:solid;
    border-collapse:collapse;
}
td{
    border:solid;
    border-collapse:collapse;
}
th{
    background-color:darkgreen;
    color:lightgreen;
    border:solid;
}
.central{
    background-color:rgb(82, 230, 149);
}