body{
    font-family:'Segoe UI';
    background-image:url(../img/pinguinos.jpg);
}
table{
    background-color:lightgreen;
    border:solid;
    border-collapse:collapse;
}
td{
    border:solid;
    border-collapse:collapse;
    padding-left:40px;
    padding-right:40px;
}
th{
    background-color:darkgreen;
    color:lightgreen;
    border:solid;
}
.central{
    background-color:rgb(82, 230, 149);
}
div{
    display:flex;
    justify-content: center;
    margin-top:250px;
}
